#body {
    margin: 0;
}

nav#menu {
    background-color: black;
    text-align: center;
}

nav#menu > ul > li.menu-item {
    display: inline
}

nav#menu > ul {
    margin: 0px;
    padding: 15px;
}

#menu-item {
    text-align: center
}

header > h1 {
    text-align: center;
}

section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
}

section > article {
    text-align: center;
}

footer > h2 {
    text-align: center;
}

footer {
    text-align: center;
}